{% extends "shop/base.html" %}
{% load static i18n %}

{% block title %}{% trans "Thank you" %}{% endblock %}

{% block content %}
    <h1>{% trans "Thank you" %}</h1>
    <p>
        {% trans "Your order has been successfully completed. Your order number is" %}
        <strong>{{ order.id }}</strong>.
    </p>

    {# Добавляем кнопку для скачивания PDF #}
    <a href="{% url 'invoice_pdf' order.id %}" class="btn btn-primary" target="_blank">
        {% trans "Download Invoice PDF" %}
    </a>
{% endblock %}
